.grids{
    display: grid;
    grid-template-columns:50px 50px 50px 50px 50px ;
    grid-template-rows: 50px 50px 50px 50px ;
}
.one{
    background-color: lightblue;
    border: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 6;
}
.two{
    background-color: lightgreen;
    border: 2px solid black;
    grid-row-start: 2 ;
    grid-row-end:4 ;
}
.three{
    background-color: lightpink;
    border: 2px solid black;
    grid-column-start:2 ;
    grid-column-end: 6;
}  
.four{
    background-color: lightyellow;
    border: 2px solid black;
    grid-column-start: 3;
    grid-column-end:5 ;
}  
.five{
    background-color: lightgrey;
    border: 2px solid black;
    grid-column-start: 4;
    grid-column-end: 6;
    
}
.six{
    background-color: lightcoral;
    border: 2px solid black;
    grid-column-start: 1;
    grid-column-end:6 ;
}
@media screen and (max-width: 768px) {
    .grids{
        grid-template-columns: 50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px 50px 50px;
    }
    .one{
        background-color: lightblue;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .two{
        background-color: lightgreen;
        grid-row-start: 2 ;
        grid-row-end:5 ;
    }
    .three{
        background-color: lightpink;
        grid-column-start:2 ;
        grid-column-end: 4;
    }  
    .four{
        background-color: lightyellow;
        grid-column-start: 1;
        grid-column-end:3 ;
    }  
    .five{
        background-color: lightgrey;
        grid-column-start: 2;
        grid-column-end: 4;
        
    }
    .six{
        background-color: lightcoral;
        grid-column-start: 1;
        grid-column-end:4 ;
    }
    
}